<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Login User</title>
		<!-- Bootstrap core CSS -->
		<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="style.css" rel="stylesheet">
	</head>
	<body>
		
			<header class="fixed-top">
				<div class="container-fluid ">
					
					<!-- INICIA HEADER -->
					<div class="row">
						<div class="col">
							<a href="#" id="header-logo">
								<img src="images/logo_cibernarium.png" alt="Cibernarium"/>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<h1 id="header-title"><a href="file:///Users/luisatenorio/Desktop/SITE/index.html"><img src="images/general_icon.png" alt="Cibernarium" /> </a><span>Gestión de Docentes</span></h1>
						</div>
					</div>
					
				</div>
			</header>
		
		
		<div id="site" class="container-fluid">
						
			<!-- INICIA CONTENIDO -->
			<div id="row-content-login" class="row">
				<div class="col">
					<form action="server.php" method="get">
						<div id="login-content" class="container">

							<div class="row">
								<div class="col-3"></div>
								
								<div class="col-6 text-center">
									<img src="images/user_icon.png" id="user_icon">
								</div>

								<div class="col-3"></div>
								
							</div>

							<div class="row">
								<div class="col-3"></div>
								
								<div class="col-6 text-center">
									<img src="images/arrow_down.png" >
								</div>

								<div class="col-3"></div>
								
							</div>

							<div class="row">
								<div class="col-3"> </div>
									<div class="col-6 text-center"><h4>Inicia Sesión</h4></div>
								<div class="col-3"></div>
							</div>

							<div class="row">
								
							</div>

							<div class="row">
								<div class="col-3 "> </div>
								
								<div class="col-6">
									<div class="col-sm-12 col-md-12">
										<div class="form-group">
											<label for="login-user">Entrar usuario:</label>
											<input id="login-user" name="login-user" type="text" class="form-control" placeholder="usuario">
										</div>
									</div>
								</div>

								<div class="col-3"></div>
							</div>	
							
							<div class="row">	
								<div class="col-3"> </div>
								
								<div class="col-6">
									<div class="col-sm-12 col-md-12">
										<div class="form-group">
											<label for="form-password">Entrar contraseña:</label>
											<input id="form-password" name="form-password" type="password" class="form-control" placeholder="contraseña">
										</div>
									</div>
								</div>
								
								<div class="col-3"></div>
							</div>

							<div class="row">
								<div class="col-3"></div>
								<div class="col-6 text-center">
									<button id="btn-login"type="button" class="btn btn-primary" >Acceder</button>
								</div>

								<div class="col-3"></div>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
				
	</body>
	
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</html>